# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*~

# Executables
hip_allreduce
hip_iallreduce
hip_allgather
hip_allgatherv
hip_alltoall
hip_alltoallv
hip_gather
hip_gatherv
hip_reduce
hip_ireduce
hip_scatter
hip_scatterv
hip_reduce_scatter
hip_broadcast
hip_osc_get_fence
hip_osc_get_lock
hip_osc_put_fence
hip_osc_put_lock
hip_osc_acc_fence
hip_osc_acc_lock
hip_pack
hip_unpack
hip_pt2pt_nb
hip_pt2pt_bl
hip_pt2pt_bsend
hip_pt2pt_persistent
hip_query_test
hip_sendtoself
hip_type_resized_long
hip_type_resized_short
hip_type_struct_long
hip_type_struct_short

hip_allreduce_bench
hip_allreduce_overlap_bench
hip_alltoall_bench
hip_allgather_bench
hip_bcast_bench
hip_reduce_bench


#other files
Makefile.defs
autom4te.cache/
config.log
config.status
scripts/run_all_impl.sh
src/hip_mpitest_config.h
src/Makefile
benchmarks/Makefile
