# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
hip_allreduce
hip_alltoall
hip_alltoallv
hip_osc_get
hip_osc_put
hip_pt2pt_nb
hip_query_test
hip_sendtoself
hip_type_resized_long
hip_type_resized_short
hip_type_struct_long
hip_type_struct_short

#other files
Makefile.defs
autom4te.cache/
config.log
config.status
src/hip_mpitest_config.h
